.list_item img{
    padding-right: 15px;
}

#overlay {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.8;
    filter: alpha(opacity=80);
}
#loading {
    width: 50px;
    height: 57px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -28px 0 0 -25px;
}

#feed_list{
    overflow: auto;
    background: url('../img/RSS.png') no-repeat center;
}

#feed_list li{
    list-style: none;
    padding: 20px 10px;
    text-align: left;
    font-size: 16px;
    overflow: hidden;
    color: #434;
    /* Gradient */
    background: #777; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#777777');  /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#777));  /* for webkit browsers */
    background: -moz-linear-gradient(top,  #fff,  #777);  /* for firefox 3.6+ */
    /* END - Gradient */
}


body{
    background-color: #e9e9e9;
    margin: auto;
}

.article{
    background: #e9e9e9 !important;
    padding: 5px 10px !important;
}

.article img {
    display: block;
    padding-bottom: 5px;
}

.article ul li{ list-style: disc !important; }
.article ol li{ list-style: decimal !important; }
.article li{
    background: none !important;
    overflow: visible !important;
    padding: 10px 5px !important;
}

.article_sub{
    margin-top:10px;
    padding: 5px;
    border-top: 1px solid #bbb;
}

.read{
    background: #EDF !important;
    font-weight: normal;
}
.alt_menu_btn{
    background: #EDF;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #111;
    margin: 2px;
}
#overlay_alt_menu{
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1.0;
    width: 100%;
    background: rgba(17,17,17,0.8);
    height: 100%;
    padding-top: 150px;
}
