#####
### Redirect user if URL entered is uppercase
RewriteEngine on
RewriteBase /

# force url to lowercase if upper case is found
RewriteCond %{REQUEST_URI} [A-Z]
# ensure it is not a file on the drive first
RewriteCond %{REQUEST_FILENAME} !-s
RewriteRule (.*) res/rewrite_strtolower.php?rewrite-strtolower-url=$1 [QSA,L]
#####

#####
### Redirect bots that search for apple-touch-icon.png, favicon.ico, etc...
RewriteRule ^apple-touch-icon\.png$ /imgs/apple-touch-icon.png [L]
RewriteRule ^apple-touch-icon-[a-zA-Z0-9].*$ /imgs/apple-touch-icon.png [L]
RewriteRule ^favicon.*$ /img/menu_icons/rss.png [L]
#####

#####
### Display Custom Error Page
ErrorDocument 400 /oops/error_page.php?type=400:+Bad+Request
ErrorDocument 401 /oops/error_page.php?type=401:+Unauthorized
ErrorDocument 403 /oops/error_page.php?type=403:+Forbidden
ErrorDocument 404 /oops/error_page.php?type=404:+Not+Found
ErrorDocument 408 /oops/error_page.php?type=408:+Request+Timeout
ErrorDocument 413 /oops/error_page.php?type=413:+Request+Entity+Too+Large
ErrorDocument 414 /oops/error_page.php?type=414:+Request+URL+Too+Large
ErrorDocument 500 /oops/error_page.php?type=500:+Server+Error
ErrorDocument 503 /oops/error_page.php?type=503:+Out+of+Resources
ErrorDocument 504 /oops/error_page.php?type=504:+Gateway+Timeout
#####